<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify safety of realtime driving images 🚗</div> <br>
    <div class = 'dd'> <p> Disclaimer: The model was trained on <a href = "https://www.kaggle.com/c/state-farm-distracted-driver-detection"> Kaggle dataset </a>  and while it works well on the testing set, it might not be as good on random images  </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
    <div class = 'info-label'>
      <p> <ol> 
        <li> C0: Safe Driving </li> <br>
        <li> C1: texting - right </li> <br>
      <li> C2: talking on the phone - right </li> <br>
      <li> C3: texting - left </li> <br>
      <li> C4: talking on the phone - left
 </li> <br>
      <li> C5: operating the radio
 </li> <br>
      <li> C6: drinking
 </li> <br>
      <li> C7: reaching behind
 </li> <br>
      <li> C8: hair and makeup
 </li> <br>
      <li> C9: talking to passenger
 </li> <br>
      </ol> </p>
  </div>
</div>
</body>
</html>
